@model Djur.Models.Product

@{
    ViewBag.Title = "Details";
    bool IsLoggedIn = (bool)Session["LoginStatus"];
}

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-2 col-lg-10">
            <h3>@Model.Title</h3>
            <h4>Price: @Model.Price</h4>
            @if (IsLoggedIn)
            {
            @Html.ActionLink("Add to cart", "Addtocart", "ShoppingCart", new { id = Model.ProductID, amount = 1 }, null)
            }
        </div>

        <div class="col-md-3">
            <h4>Description</h4>
            <p>@Model.Description</p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="@Model.ImageUrl" onError="this.src = 'http://placehold.it/600x400/?text=@Model.Title.Split(' ').First()';"/>
        </div>
        
    </div>
</div>
