@model IEnumerable<Djur.Models.Product>

@{
    ViewBag.Title = "Index";
}
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>
    }

</table>*@
<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-sm-4 col-md-3">
            <div class="thumbnail">
                <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" alt="@Html.DisplayFor(modelItem => item.Title)">
                <div class="caption">
                    <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                    <p><a href="/Djur/Details/@Html.DisplayFor(modelItem => item.ProductID)" class="btn btn-primary" role="button">Button</a></p>
                </div>
            </div>
        </div>

    }
</div>