@model Djur.ViewModels.ShoppingCartView
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table class="table">
    <tr>
        <th>
            <p>Image</p>
        </th>
        <th>
            <p>Name</p>
        </th>
        <th>
            <p>Price</p>
                </th>
        <th>
            <p>Amount</p>
        </th>

    </tr>

    @foreach (var item in Model.ShoppingCartItems)
    {
        <tr>
            <td>
                <div class="fixedPic" style=" height: 80px; width: 110px;">
                    <img src="@Html.DisplayFor(modelItem => item.product.ImageUrl)" />
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product.Price)
            </td>
            <td>
                <form class="navbar-form" action="/ShoppingCart/UpdateCart" method="post">
                    <div class="input-group">
                        
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-edit"> Update</span></button>
                        </span>
                        <input name="amount" type="number" class="form-control" value="@item.Amount" max="@item.product.Amount" min=0>
                        <input class="form-control" type="hidden" name="id"
                               value="@item.id" />
                    </div><!-- /input-group -->
                </form>
            </td>
            
            <td>
                @Html.ActionLink("Remove", "Removefromcart", new { id = item.id })
            </td>
        </tr>
    }

</table>
<div class="row">
    <div class="col-md-2 col-md-offset-5">

        <p>Total Price: <strong> @Html.DisplayFor(model => model.CartTotal)</strong> </p>
        @Html.ActionLink("Empty cart", "EmptyCart", null, new { @class = "btn btn-danger" })
    </div>
</div>

